body{
    margin: 0;
}

h1, p, div, h2, h3{
    text-shadow: 0 0 6px #00dcff!important;
}

#particles-js {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 100%;
    height: 100vh;
    margin: 0;
}

.rb, .rm, .resultsActuel, .messageMdp{
    opacity: 0;
    transition: all 0.2s;
}

#password{
    height: 45px;
    width: 310px;
    font-size: 20px;
    padding-left: 10px;
    padding-left: 5px;
    border: #00fffa 5px solid;
    border-radius: 30px;
    box-shadow: 0 0 12px #00ffaa;
    outline: none;
}

.btn{
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
}

.btn-primary{
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success{
    background-color: #1e7e34;
    border-color: #1c7430;
}

.btn-danger{
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn-warning{
    background-color: #d39e00;
    border-color: #c69500;
}

.resultsActuel{
    position: absolute;
    padding: 10px;
    top: -70px;
    right: -150px;
    border: #16c60c 3px solid;
    border-radius: 10px;
    box-shadow: 0 0 8px #16c606;
}

.choix{
    border: #ffffff 2px solid;
    box-shadow: 0 0 5px #ffffff;
}

p{
    font-size: 30px!important;
}